@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

.img_1{
  width: 100%;
  height: 200px;
  background-image: url(1_6_img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.img_2{
  width: 100%;
  height: 200px;
  background-image: url(1_6_img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.img_3{
  width: 100%;
  height: 200px;
  background-image: url(1_6_img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.img_4{
  width: 100%;
  height: 200px;
  background-image: url(1_6_img/box4.jpg);
  background-size: cover;
  background-position: center;
}